@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #333333;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.navigation {
  color: rgba(0, 0, 0, 1);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

header,
main,
footer {
  background-color: #FFF;
}

.favorites {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.brown-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
}

.navigation-link-button {
  color: #FFFFFF;
}

.main-index {
  text-align: center;
}

.hero-picture {
  background-image: url("../images/hero-background.jpg"), url("../images/background-bottom.svg");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: rgba(130, 179, 211, 1);
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.description {
  color: rgba(51, 51, 51, 1);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.advantages-item-blue h3 {
  color: rgba(255, 255, 255, 1);
}

.advantages-item-blue p {
  color: rgba(255, 255, 255, 1);
}

.advantages-item-blue {
  background-color: rgba(130, 179, 211, 1);
}

.advantages-item-light-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.house {
  background-image: url("../images/house-icon.svg");
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  background-image: url("../images/food-icon.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url("../images/souvenirs-icon.svg");
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
}

.facilities-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.facilities-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.hostels-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
}

.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-input {
  font-family: "PT Sans";
  background-color: #F2F2F2;
  color: #000000;
}

.button {
  font-family: "PT Sans";
  background-color: rgba(130, 179, 211, 1);
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.title-subscribe,
.description-subscribe {
  color: rgba(255, 255, 255, 1);
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.inner-header {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: rgba(255, 255, 255, 1);
}

.inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.catalog-filter-group {
  color: rgba(255, 255, 255, 1);
  font-family: "PT Sans", sans-serif;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.price {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.price-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.select-control{
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.submit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
}

.reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotel-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.hotel-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.to-favorites {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
}

.pagination-list{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
.pagination-item-active {
  background-color: rgba(242, 242, 242, 1);
  text-transform: uppercase;
  color:#000000;
  text-decoration: none;
}

.pagination-item-not-active {
  background-color: #82B3D3;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-item-three-dots{
color: #000000;
background-color: #F2F2F2;
text-decoration: none;
}

.button-blue {
  font-family: "PT Sans", sans-serif;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.active-button {
  font-family: "PT Sans", sans-serif;
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.details {
  background-color: rgba(117, 97, 87, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
